<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhiaite.javaweb.module.pagelistconfig.mapper.ConfigOperMapper">

    <!-- 字段映射-->
    <resultMap id="confMap" type="com.wuzhiaite.javaweb.module.pagelistconfig.entity.PageConf">
        <id column="ID" property="id" />
        <result column="SQL_FORM" property="sqlForm" />
        <result column="COLUMN_FORM" property="columnForm" />
        <result column="PAGE_DESIGN_FORM" property="pageDesignForm" />
        <result column="PAGE_PARAM" property="pageParam" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>


<!--    获取配置 -->
    <select id="get" parameterType="map"
            resultType="map">
        SELECT
            ID,
            SQL_FORM,
            COLUMN_FORM,
            PAGE_DESIGN_FORM,
            PAGE_PARAM,
            CREATE_TIME,
            UPDATE_TIME
        FROM  PAGE_LIST_CONFIG_FORM
        <where>
            <if test=" ID != '' and ID != null ">
                ID = #{ID}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="map" >
        INSERT INTO PAGE_LIST_CONFIG_FORM
        <trim prefix="(" suffixOverrides="," suffix=")">
            UUID,
            <if test='ID!=null'>ID,</if>
            <if test='SQL_FORM!=null'>SQL_FORM,</if>
            <if test='COLUMN_FORM!=null'>COLUMN_FORM,</if>
            <if test='PAGE_DESIGN_FORM!=null'>PAGE_DESIGN_FORM,</if>
            <if test='PAGE_PARAM!=null'>PAGE_PARAM,</if>
            CREATE_TIME,
            UPDATE_TIME
        </trim>
        <trim prefix=" VALUES(" suffixOverrides="," suffix=")">
            UUID(),
            <if test='ID!=null'>#{ID},</if>
            <if test='SQL_FORM!=null'>#{SQL_FORM},</if>
            <if test='COLUMN_FORM!=null'>#{COLUMN_FORM},</if>
            <if test='PAGE_DESIGN_FORM!=null'>#{PAGE_DESIGN_FORM},</if>
            <if test='PAGE_PARAM!=null'>#{PAGE_PARAM},</if>
           NOW(),
           NOW()
        </trim>
    </insert>

    <update id="update" parameterType="map">
        UPDATE PAGE_LIST_CONFIG_FORM
        <set>
            <if test='ID!=null'>ID = #{ID},</if>
            <if test='SQL_FORM!=null'>SQL_FORM = #{SQL_FORM},</if>
            <if test='COLUMN_FORM!=null'>COLUMN_FORM = #{COLUMN_FORM},</if>
            <if test='PAGE_DESIGN_FORM!=null'>PAGE_DESIGN_FORM = #{PAGE_DESIGN_FORM},</if>
            <if test='PAGE_PARAM!=null'>PAGE_PARAM = #{PAGE_PARAM},</if>
            CREATE_TIME = NOW(),
            UPDATE_TIME = NOW()
        </set>
        <where>
            ID = #{ID}
        </where>
    </update>









</mapper>