<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhiaite.javaweb.common.codegenerator.mapper.CodeGeneratorMapper">

     <!--    查找所有表-->
    <select id="findListByPage" resultType="java.util.Map" parameterType="map">
        SELECT
            TABLE_SCHEMA,
            TABLE_NAME,
            TABLE_ROWS,
            AVG_ROW_LENGTH,
            DATA_LENGTH,
            INDEX_LENGTH,
            TABLE_COMMENT,
            DATE_FORMAT(CREATE_TIME,'%Y-%c-%d ') CREATE_TIME,
            DATE_FORMAT(UPDATE_TIME,'%Y-%c-%d ') UPDATE_TIME
        FROM INFORMATION_SCHEMA.`TABLES` WHERE TABLE_SCHEMA = #{database}
        <if test="search != null and search != '' ">
            <bind  name="tableName" value=" '%' + search + '%' " />
            AND TABLE_NAME LIKE #{tableName}
        </if>
    </select>

<!--    查找所有列-->
    <select id="getColumnInfo" resultType="java.util.Map" parameterType="map">
        SELECT
            TABLE_NAME,
            COLUMN_NAME,
            COLUMN_COMMENT,
            IS_NULLABLE,
            COLUMN_TYPE
        FROM    INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_SCHEMA =  #{database} AND TABLE_NAME = #{tableName}
    </select>


</mapper>