<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhiaite.javaweb.common.authority.mapper.UserRoleMapper">


    <select id="getRoleList" resultType="com.wuzhiaite.javaweb.common.authority.entity.UserRole">
        select
        role.*
        from user_role role
        left join user_role_info ri on role.id=ri.role_id
        left join user_info ui on ui.id=ri.user_id
        where ui.user_id= #{username}
    </select>
</mapper>
