<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhiaite.javaweb.common.authority.mapper.UserRoleMapper">


    <select id="getRoleList" resultType="com.wuzhiaite.javaweb.common.authority.entity.UserRole">
        SELECT
            ROLE.id id,
            ROLE.role_label roleLabel,
            ROLE.role_value roleValue,
            ROLE.isValidate isValidate
        FROM user_info INFO
        LEFT JOIN USER_ROLE_INFO RI ON INFO.ID = RI.USER_ID
        LEFT JOIN USER_ROLE ROLE ON ROLE.ID = RI.ROLE_ID
        WHERE INFO.USER_ID = #{username}

    </select>
</mapper>
